<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Cadastro concluído</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body>
    <img class="bg" src="images/success-background.svg" alt="">

    <div class="content">
        <img src="images/icons/success-check-icon.svg" alt="">
        <h1>Cadastro salvo!</h1>
        <p>
            Tudo certo, seu cadastro está na nossa lista de professores. <br/>
            Agora é só ficar de olho no seu WhatsApp
        </p>
        <a onclick="teste()" class="btnList">Acessar lista</a>
    </div>

    <script src="scripts/sucess.js"></script>
</body>
</html>